
// Bottom content css
.bottom-content {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  // For taking div below
  position: fixed;
  bottom: 0px;

  box-sizing: border-box;
  margin-bottom: 30px;

  .main-block {
    width: 48%;
    border: 0.5px solid white;
    border-radius: 20px;
    background: linear-gradient(
      90.36deg,
      rgba(255, 255, 255, 0.5) -242.43%,
      rgba(255, 255, 255, 0) 160.75%
    );
    backdrop-filter: blur(2px);
    box-sizing: border-box;
    padding: 0.8%;

    display: flex;
    justify-content: space-around;

    .all-btn,
    .imp-btn,
    .add-btn,
    .complete-btn,
    .delete-btn {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      
      backdrop-filter: blur(1.325px);
      border-radius: 6.625px;
      border: 1px solid white;

      a {

        width: 50%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-self:center;

        img {
            width: 100%;
            height: 100%;
        }
      }
      
    }

    .active {
      background: linear-gradient(
        136.01deg,
        rgba(255, 255, 255, 0.8) -30.89%,
        rgba(255, 255, 255, 0) 163.24%
      );

      .svg {

        fill: #6C2CFF;
      }
    }

  }
}
