<div class="add-task">
  <div class="add-task-title-delete-block">
    <div class="add-task-title">
      {{ "Add / Update Task" | uppercase }}
    </div>
  </div>
  <div class="add-task-card-block">
    <div class="add-task-main-card">
      <form [formGroup]="formData">
        <div class="form-floating mb-3 inputfield-block">
          <input
            type="email"
            class="form-control inputfield"
            id="floatingInput"
            placeholder=""
            formControlName="taskTitle"
            maxlength="20"
          />
          <label for="floatingInput" class="inputfield-label"
            >Enter Task Title</label
          >
        </div>
        <!-- Task Title is not given -->
        <div
          class="task-title-must"
          *ngIf="
            formData.get('taskTitle')?.touched &&
            formData.get('taskTitle')?.hasError('required')
          "
        >
          Task Title must be given
        </div>
        <!-- <ng-template #validation1 >
          <div
          class="task-title-must"
          *ngIf="
          formData.get('taskTitle')?.touched && formData.get('taskTitle')?.hasError('minlength')
          ; else validation2"
        >
          Increase size of Task Title
        </div>
        </ng-template>
        <ng-template #validation2>
          <div
          class="task-title-must"
          *ngIf="
          formData.get('taskTitle')?.touched &&formData.get('taskTitle')?.hasError('maxlength')
          "
        >
          Increase size of Task Title
        </div>
        </ng-template> -->
        
        <div class="form-floating textarea-block">
          <textarea
            class="form-control textarea"
            placeholder=""
            id="floatingTextarea2"
            style="height: 100px"
            formControlName="taskDesc"
            maxlength="150"
          ></textarea>
          <label for="floatingTextarea2" class="textarea-label"
            >Enter Task Description</label
          >
        </div>
        <div
          class="task-title-must"
          style="margin: 10px 0px"
          *ngIf="
            formData.get('taskDesc')?.touched &&
            formData.get('taskDesc')?.hasError('required')
          "
        >
          Task Description is required
        </div>
      </form>

      <div class="add-time-complete-block">
        <div class="add-task-time-block">
          <div class="start-time-block">
            <div class="start-time-title">Set Task Start Timing</div>
            <div class="times">
              <div class="add-hrs-block">
                <div
                  class="inc-btn"
                  (click)="cntChangeClicked('start', 'hr', 'inc')"
                >
                  <img src="../../../assets/up-btn.svg" />
                </div>
                <div class="hrs">{{ startTimeHr }}</div>
                <div
                  class="dec-btn"
                  (click)="cntChangeClicked('start', 'hr', 'dec')"
                >
                  <img src="../../../assets/down-btn.svg" />
                </div>
                <div style="color: white; font-weight: 400; opacity: 0.8;">{{'Hrs' | lowercase}}</div>
              </div>
              <div class="add-mins-block">
                <div
                  class="inc-btn"
                  (click)="cntChangeClicked('start', 'min', 'inc')"
                >
                  <img src="../../../assets/up-btn.svg" />
                </div>
                <div class="mins">{{ startTimeMin }}</div>
                <div
                  class="dec-btn"
                  (click)="cntChangeClicked('start', 'min', 'dec')"
                >
                  <img src="../../../assets/down-btn.svg" />
                </div>
                <div style="color: white; font-weight: 400; opacity: 0.8;">{{'Mins' | lowercase}}</div>
              </div>
              
              <!--  Time Zone -->
              <!-- <div class="am-pm-block">
                <div class="time-zone">
                  <input
                    name="zone1"
                    type="radio"
                    style="accent-color: white"
                    (click)="setZone('start', 'AM')"
                  />
                  AM
                </div>
                <div class="time-zone">
                  <input
                    name="zone1"
                    type="radio"
                    style="accent-color: white"
                    (click)="setZone('start', 'PM')"
                  />
                  PM
                </div>
              </div> -->
            </div>
          </div>

          <div class="start-time-block">
            <div class="start-time-title">Set Task End Timing</div>
            <div class="times">
              <div class="add-hrs-block">
                <div
                  class="inc-btn"
                  (click)="cntChangeClicked('end', 'hr', 'inc')"
                >
                  <img src="../../../assets/up-btn.svg" />
                </div>
                <div class="hrs">{{ endTimeHr }}</div>
                <div
                  class="dec-btn"
                  (click)="cntChangeClicked('end', 'hr', 'dec')"
                >
                  <img src="../../../assets/down-btn.svg" />
                </div>
                <div style="color: white; font-weight: 400; opacity: 0.8;">{{'Hrs' | lowercase}}</div>
              </div>
              <div class="add-mins-block">
                <div
                  class="inc-btn"
                  (click)="cntChangeClicked('end', 'min', 'inc')"
                >
                  <img src="../../../assets/up-btn.svg" />
                </div>
                <div class="mins">{{ endTimeMin }}</div>
                <div
                  class="dec-btn"
                  (click)="cntChangeClicked('end', 'min', 'dec')"
                >
                  <img src="../../../assets/down-btn.svg" />
                </div>
                <div style="color: white; font-weight: 400; opacity: 0.8;">{{'Mins' | lowercase}}</div>
              </div>
              <!-- <div class="am-pm-block">
                <div class="time-zone">
                  <input
                    name="zone2"
                    type="radio"
                    style="accent-color: white"
                    (click)="setZone('end', 'AM')"
                  />
                  AM
                </div>
                <div class="time-zone">
                  <input
                    name="zone2"
                    type="radio"
                    style="accent-color: white"
                    (click)="setZone('end', 'PM')"
                  />
                  PM
                </div>
              </div> -->
            </div>
          </div>
        </div>

        <div class="complete-btns">
          <div
            title="Add as Important"
            [ngClass]="imp"
            (click)="addImportant()"
          >
            <img src="../../../assets/imp-btn-img.svg" />
          </div>
          <div
            (click)="onFormSubmit()"
            title="Add Task"
            class="completed1-btn isDisable"
          >
            <img src="../../../assets/completed-btn-img.svg" />
          </div>
        </div>
      </div>

      <!-- Time Messages Block -->
      <div
        id="timing-msg1"
        class="timing-msg"
        style="color: white"
      > 
      </div>
      
    
    </div>
  </div>
</div>
